In [ ]:
!pip install pandas
import pandas as pd

In [ ]:
!pip install sqlalchemy
from sqlalchemy import create_engine

In [ ]:
!pip install psycopg2-binary
import psycopg2, os

In [ ]:
pbc = pd.read_csv('2019_production_by_country.csv')
pbc.head()

In [ ]:
apy = pd.read_csv('production_4years.csv')
apy.head()

In [ ]:
ac = pd.read_csv('us_advocado_consumption.csv')
ac.head()

In [ ]:
brp = pd.read_csv('banana_retailprice.csv')
brp.head()

In [ ]:
cpi = pd.read_csv('CPI.csv')
cpi.head()

In [ ]:
gdp = pd.read_csv('GDP_per_capita.csv')
gdp.head()

In [ ]:
mhi = pd.read_csv('median_household_income.csv')
mhi.head()

In [ ]:
ap = pd.read_csv('avocado_prices.csv')
ap.head()

In [ ]:
#Creating DBs

In [ ]:
#Inserting Year Table

In [ ]:
conn_url = 'postgresql://postgres:123@localhost/avocados_final'

In [ ]:
engine = create_engine(conn_url)

In [ ]:
connection = engine.connect()

In [ ]:
stmt = """
    CREATE TABLE year(
    year_id integer PRIMARY KEY,
    year char(4));
    
    CREATE TABLE date(
    date_id integer PRIMARY KEY,
    date Date,
    year_id integer,
    FOREIGN KEY (year_id) REFERENCES year(year_id));
    
    CREATE TABLE region(
    region_id integer PRIMARY KEY,
    region varchar(50));    

    CREATE TABLE consumption(
    consumption_id integer PRIMARY KEY,
    year_id integer,
    avocado_in_million_lbs numeric(6,2),
    FOREIGN KEY (year_id) REFERENCES year (year_id));
    
    CREATE TABLE production_by_country(
    country varchar(25) PRIMARY KEY,
    year_id integer,
    avocado_in_million_tons numeric(7,2),
    FOREIGN KEY (year_id) REFERENCES year (year_id)
    );
         
   CREATE TABLE avocado_production(
    production_id integer PRIMARY KEY,
    year_id integer,
    avocado_in_million_tons numeric(6,2),
    FOREIGN KEY (year_id) REFERENCES year (year_id));
    
    CREATE TABLE cpi (
    cpi_id integer PRIMARY KEY,
    year_id integer,
    cpi numeric(6,2),
    FOREIGN KEY (year_id) REFERENCES year (year_id));
            
    CREATE TABLE median_hh_income (
    median_hh_income_id integer PRIMARY KEY,
    year_id integer,
    median_income numeric(9,2),
    FOREIGN KEY (year_id) REFERENCES year (year_id));
    
    CREATE TABLE gdp_per_capita (
    gdp_per_capita_id integer PRIMARY KEY,
    year_id integer,
    gdp_per_capita numeric(9,2),
    annual_growth_rate numeric (3,2),
    FOREIGN KEY (year_id) REFERENCES year (year_id));
    
    CREATE TABLE banana_pricing (
    banana_pricing_id integer PRIMARY KEY,
    year_id integer,
    retail_price numeric (6,2),
    FOREIGN KEY (year_id) REFERENCES year (year_id));
    
    CREATE TABLE avocado_conventional_pricing (
    avocado_conventional_pricing_id integer PRIMARY KEY,
    date_id integer,
    region_id integer,
    price_per_avocado numeric(9,2),
    FOREIGN KEY (region_id) REFERENCES region (region_id),
    FOREIGN KEY (date_id) REFERENCES date (date_id));
    
    CREATE TABLE avocado_organic_pricing (
    avocado_organic_pricing_id integer PRIMARY KEY,
    region_id integer,
    date_id integer,
    price_per_avocado numeric (9,2),
    FOREIGN KEY (region_id) REFERENCES region (region_id),
    FOREIGN KEY (date_id) REFERENCES date (date_id));
    
    CREATE TABLE total_avocado_sold(
    total_avocado_sold_id integer PRIMARY KEY,
    region_id integer,
    date_id integer,
    total_volume_sold numeric(11,2),
    FOREIGN KEY (region_id) REFERENCES region (region_id),
    FOREIGN KEY (date_id) REFERENCES date (date_id));
    
    CREATE TABLE avocado_bags_sold (
    avocado_bags_sold_id integer PRIMARY KEY,
    region_id integer,
    date_id integer,
    bags_sold numeric (13,2),
    FOREIGN KEY (region_id) REFERENCES region (region_id),
    FOREIGN KEY (date_id) REFERENCES date (date_id));
    
    CREATE TABLE avocado4046_sold (
    avocado4046_sold_id integer PRIMARY KEY,
    region_id integer,
    date_id integer,
    sold_4046 numeric (9,0),
    FOREIGN KEY (region_id) REFERENCES region (region_id),
    FOREIGN KEY (date_id) REFERENCES date (date_id));
    
    CREATE TABLE avocado4225_sold (
    avocado4225_sold_id integer PRIMARY KEY,
    region_id integer,
    date_id integer,
    sold_4225 numeric (9,0),
    FOREIGN KEY (region_id) REFERENCES region (region_id),
    FOREIGN KEY (date_id) REFERENCES date (date_id));
    
    CREATE TABLE avocado4770_sold (
    avocado4770_sold_id integer PRIMARY KEY,
    region_id integer,
    date_id integer,
    sold_4770 numeric (9,0),
    FOREIGN KEY (region_id) REFERENCES region (region_id),
    FOREIGN KEY (date_id) REFERENCES date (date_id));
        
    
"""
connection.execute(stmt)

In [ ]:
#Creating Year Table

In [ ]:
years = [['2015'],['2016'],['2017'],['2018'],['2019']]
years = pd.DataFrame(years, columns = ['year'])
years.insert(0,'year_id', range (1, 1 + len(years)))
years.head()

In [ ]:
years['year'] = years['year'].astype(float).astype(int)

In [ ]:
years.to_sql(name='year', con=engine, if_exists='append', index=False)

In [ ]:
#Creating Region Table

In [ ]:
region_df = ap[['region']]
region_df = pd.DataFrame(region_df.region.unique(), columns = ['region'])
region_df.insert(0,'region_id', range (1, 1 + len(region_df)))
region_df.head()

In [ ]:
region_df.to_sql(name='region', con=engine, if_exists='append', index=False)

In [ ]:
#Creating date table

In [ ]:
date_df = ap[['date']]
date_df.head()

In [ ]:
date_df = pd.DataFrame(date_df.date.unique(), columns=['date'])
date_df.insert(0,'date_id', range(1,1 + len(date_df)))
date_df.head()

In [ ]:
date_df[["day", "month", "year"]] = date_df["date"].str.split("/", expand = True)

In [ ]:
date_df['year'] = date_df['year'].astype(int)

In [ ]:
date_df['day'] = date_df['day'].astype(int)

In [ ]:
date_df['month'] = date_df['month'].astype(int)

In [ ]:
date2 = date_df[['date_id','date','year']]

In [ ]:
date3 = pd.merge(date2, years, how = "left", on = ['year'])
date3.head()

In [ ]:
del date3['year']

In [ ]:
date3.to_sql(name='date', con=engine, if_exists='append', index=False)

In [ ]:
#Creating consumption table

In [ ]:
ac_df = ac
ac_df.insert(0,'consumption_id', range(1,1 + len(ac_df)))
ac_df.head()

In [ ]:
ac_df = pd.merge(ac_df, years, how = "left", on = ['year'])
ac_df.head()

In [ ]:
ac_df = ac_df[['consumption_id','year_id','avocado_in_million_lbs']]
ac_df.head()

In [ ]:
ac_df.to_sql(name='consumption', con=engine, if_exists='append', index=False)

In [ ]:
#Creating production

In [ ]:
apy_df = apy
apy_df.insert(0,'production_id', range(1,1 + len(apy_df)))
apy_df = pd.merge(apy_df, years, how = "left", on = ['year'])
apy_df = apy_df[['production_id','year_id','avocado_in_million_tons']]

In [ ]:
apy_df.head()

In [ ]:
apy_df.to_sql(name='avocado_production', con=engine, if_exists='append', index=False)

In [ ]:
#Creating production by country

In [ ]:
pbc_df = pbc
pbc_df = pd.merge(pbc_df, years, how = "left", on = ['year'])
pbc_df = pbc_df[['country','year_id','avocado_in_million_tons']]
pbc_df.head()

In [ ]:
pbc_df.to_sql(name='production_by_country', con=engine, if_exists='append', index=False)

In [ ]:
#Creating cpi

In [ ]:
cpi_df = cpi
cpi_df.insert(0,'cpi_id', range(1,1 + len(cpi_df)))
cpi_df = pd.merge(cpi_df, years, how = "left", on = ['year'])
cpi_df = cpi_df[['cpi_id','year_id','cpi']]
cpi_df.head()

In [ ]:
cpi_df.to_sql(name='cpi', con=engine, if_exists='append', index=False)

In [ ]:
#Creating median_HH_income

In [ ]:
mhi_df = mhi
mhi_df.insert(0,'median_hh_income_id', range(1,1 + len(mhi_df)))
mhi_df = pd.merge(mhi_df, years, how = "left", on = ['year'])
mhi_df = mhi_df[['median_hh_income_id','year_id','median_income']]
mhi_df.head()

In [ ]:
mhi_df.to_sql(name='median_hh_income', con=engine, if_exists='append', index=False)

In [ ]:
mhi_df.head()

In [ ]:
#Creating GDP

In [ ]:
gdp_df = gdp
gdp_df.insert(0,'gdp_per_capita_id', range(1,1 + len(gdp_df)))
gdp_df = pd.merge(gdp_df, years, how = "left", on = ['year'])
gdp_df = gdp_df[['gdp_per_capita_id','year_id','gdp_per_capita','annual_growth_rate']]
gdp_df.head()

In [ ]:
gdp_df.to_sql(name='gdp_per_capita', con=engine, if_exists='append', index=False)

In [ ]:
#Creating Banana Retail Price

In [ ]:
brp_df = brp
brp_df.insert(0,'banana_pricing_id', range(1,1 + len(brp_df)))
brp_df = pd.merge(brp_df, years, how = "left", on = ['year'])
brp_df = brp_df[['banana_pricing_id','year_id','retail_price']]
brp_df.head()

In [ ]:
brp_df.to_sql(name='banana_pricing', con=engine, if_exists='append', index=False)

In [ ]:
#Creating AP with IDs

In [ ]:
ap_df = ap
ap_df = ap_df.rename(columns={"Total Bags":"bags_sold", "4046":"sold_4046","4225":"sold_4225","4770":"sold_4770"})

In [ ]:
ap_df = pd.merge(ap_df, region_df, how = "left", on = ['region'])
ap_df = pd.merge(ap_df, date3, how = "left", on = ['date'])
ap_df.head()

In [ ]:
#Creating conventional pricing

In [ ]:
cp = ap_df.query('type =="conventional"')
cp_df = cp[['date_id','region_id','price_per_avocado']]
cp_df.insert(0,'avocado_conventional_pricing_id', range(1,1 + len(cp_df)))
cp_df.head()

In [ ]:
cp_df.to_sql(name='avocado_conventional_pricing', con=engine, if_exists='append', index=False)

In [ ]:
#Creating organic pricing

In [ ]:
op = ap_df.query('type =="organic"')
op_df = op[['date_id','region_id','price_per_avocado']]
op_df.insert(0,'avocado_organic_pricing_id', range(1,1 + len(op_df)))
op_df.head()

In [ ]:
op_df.to_sql(name='avocado_organic_pricing', con=engine, if_exists='append', index=False)

In [ ]:
#Creating avocados sold

In [ ]:
tbs_df = ap_df[['date_id','region_id','bags_sold']]
tbs_df.insert(0,'avocado_bags_sold_id', range(1,1 + len(tbs_df)))
tbs_df.head()

In [ ]:
tbs_df.to_sql(name='avocado_bags_sold', con=engine, if_exists='append', index=False)

In [ ]:
#Creating volume sold

In [ ]:
tvs_df = ap_df[['date_id','region_id','total_volume_sold']]
tvs_df.insert(0,'total_avocado_sold_id', range(1,1 + len(tvs_df)))
tvs_df.head()

In [ ]:
tvs_df.to_sql(name='total_avocado_sold', con=engine, if_exists='append', index=False)

In [ ]:
max(tvs_df.total_volume_sold)

In [ ]:
#Creating avocados4225

In [ ]:
sold4225_df = ap_df[['date_id','region_id','sold_4225']]
sold4225_df.insert(0,'avocado4225_sold_id', range(1,1 + len(sold4225_df)))
sold4225_df.head()

In [ ]:
sold4225_df.to_sql(name='avocado4225_sold', con=engine, if_exists='append', index=False)

In [ ]:
#Creating avocados4770

In [ ]:
sold4770_df = ap_df[['date_id','region_id','sold_4770']]
sold4770_df.insert(0,'avocado4770_sold_id', range(1,1 + len(sold4770_df)))
sold4770_df.head()

In [ ]:
sold4770_df.to_sql(name='avocado4770_sold', con=engine, if_exists='append', index=False)

In [ ]:
#Creating avocados4046

In [ ]:
sold4046_df = ap_df[['date_id','region_id','sold_4046']]
sold4046_df.insert(0,'avocado4046_sold_id', range(1,1 + len(sold4046_df)))
sold4046_df.head()

In [ ]:
sold4046_df.to_sql(name='avocado4046_sold', con=engine, if_exists='append', index=False)